@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #f1f1f1;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
}

/* Label - Input */

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

/* Button */

.btn {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #222;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #333;
  }

  &:focus {
    outline: none;
  }
}

.btn.btn-delete {
  width: auto;
  padding: 0.25rem 0.5rem;
  background-color: #f00;

  &:hover {
    background-color: #f33;
  }
}

/* List */

.list-section {
  margin-top: 1rem;
}

.list-section > table {
  width: 100%;
  border-collapse: separate;
}

.list-section > table > thead > tr > th,
.list-section > table > tbody > tr > td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

/* Books */

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.no-books {
  margin-top: 1rem;
  color: #9c9b9b;
}

/* Toast */

.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
  z-index: 9999;
}

.toast.toast-success {
  background-color: green;
}

.toast.toast-delete {
  background-color: red;
}
